@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-gradient: linear-gradient(var(--bg) 20%, #000 100%);
    --color-0: #000;
    --color-100: #1a1a1a;
    --color-200: #323232;
    --color-300: #343434;
    --color-400: #434343;
    --color-500: #727272;
    --color-600: #818181;
    --color-700: #9e9e9e;
    --color-800: #d7d7d7;
    --color-900: #f2f2f2;
}
